.container {
  --y: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.container.top {
  position: relative;
  height: 20vh;
  --y: 80px;
}

.top {
  position: absolute;
  top: 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.searchBarInput {
  width: 80%;
  padding: 16px 24px;
  margin: 1% 0%;
  border-right: transparent;
  border-bottom: 1px solid red;
  outline: none;
}

.searchBarLbl {
  position: absolute;
  left: 180px;
  top: var(--y);
}

.searchBarInput:focus + .searchBarLbl,
.searchBarInput:not(:placeholder-shown) + .searchBarLbl {
  top: calc(var(--y) - 20px);
  font-size: 12px;
  color: red;
}

.searchBtn {
  padding: 16px 24px;
  background-color: transparent;
  border-bottom: 1px solid red;
  outline: none;
}

.popular {
  position: relative;
  top: -150px;
  display: flex;
}

.popular.top {
  top: -50px;
}

.popSearch {
  padding: 0px 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
