.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --y: 175px;
  height: 40vh;
}

.container.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --y: 175px;
  height: 40vh;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.searchBarInput {
  width: 80%;
  padding: 16px 24px;
  margin: 1% 0%;
  border-right: transparent;
  border-bottom: 1px solid red;
  outline: none;
}

/* TODO Make label move when input is filled */
.searchBarLbl {
  position: absolute;
  left: 180px;
  top: var(--y);
}

/* Update the styles to manage label animation */
.searchBarInput:focus + label,
.searchBarInput:not(:placeholder-shown) + label {
  top: calc(var(--y) - 20px);
  font-size: 12px; /* Adjust the font size as needed */
  color: red; /* Change label color or add any desired styles */
}

.searchBtn {
  padding: 16px 24px;
  background-color: transparent;
  border-bottom: 1px solid red;
  outline: none;
}
