.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --y: 175px;
  height: 40vh;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.searchBarInput {
  width: 80%;
  padding: 16px 24px;
  margin: 1% 0%;
  border-right: transparent;
  border-bottom: 1px solid red;
  outline: none;
}

/* TODO Make label move when input is filled */
/* .searchBarLbl {
  position: absolute;
  left: 180px;
  top: var(--y);
} */

/* input:focus ~ label {
  top: calc(var(--y) - (20px));
  background-color: red;
}
input::placeholder(:valid) ~ label {
  top: calc(var(--y) - (20px));
  background-color: red;
} */

.searchBtn {
  padding: 16px 24px;
  background-color: transparent;
  border-bottom: 1px solid red;
  outline: none;
}
